<div class="topnav">
    <div class="brand"><img src="assets/logo.png" alt=""></div>
        <div class="toplink">
            <a href="#">Premium</a>
            <a href="#">Support</a>
            <a href="#">Download</a>
            <a href="#">Singup</a>
        </div>
        <div class="clear"></div>
</div>
<div class="content2">
<div> <img class="img1" src="assets/check-mark.svg" alt="">
    <img src="assets/laptop.svg" alt=""></div> 
    <h1>Download Spotify</h1>
    <h3>Play millions of songs on your device.</h3>
    <a [routerLink]="['/home']"><button>Download</button></a>
</div>
<div class="footer ">
    <p>Questions? Call 000-800-040-1843</p>
    <div class="footer-cols">
        <img src="assets/logo.png" alt="">
        <ul>
            <h5>COMPANY</h5>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Speed Test</a></li>
        </ul>
        <ul>
            <h5>COMMUNITIES</h5>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Cookie Preferences</a></li>
            <li><a href="#">Watch for Free</a></li>
        </ul>
        <ul>
            <h5>USEFUL LINKS</h5>
            <li><a href="#">Account</a></li>
            <li><a href="#">Ways to Watch</a></li>
            <li><a href="#">Corporate Information</a></li>
            <li><a href="#">Legal Notices</a></li>
        </ul>
        <ul>
            <h5>PREMIUM PLANS</h5>
            <li><a href="#">Media Centre</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Netflix Originals</a></li>
        </ul>
       
    </div>
</div>

