<div class="login">
    <img src="assets/logo1.png" alt="">
    <hr>
        <h5>To continue, log in to Spotify</h5>
       <div class="facebook"><img class="img2" src="assets/Facebook-logo.png" alt="">CONTINUE WITH FACEBOOK</div> <br>
       <div class="apple"><img class="img3" src="assets/Apple-Logo.png" alt="">CONTINUE WITH APPLE</div>  <br>
       <div class="google"><img class="img4" src="assets/google-logo.png" alt="">CONTINUE WITH GOOGLE</div> 
       <div class="mobile">LOGIN WITH MOBILE NUMBER</div>
      <div class="or"><h3>OR</h3><hr></div> 
        <form>
            <input type="email" name="email" placeholder="Email address or username"><br>
            <input type="password" name="password" placeholder="Enter Password"><br>
            <a href="#">Forgot your Password</a>
            <br>
           <div class="check"><input type="checkbox" name="checked" id=""><span>Remember me </span> <button>LOG IN</button><hr></div> 
        </form>
        <span>Don't have an account?</span>
        <div class="signup" [routerLink]="['/signup']">SIGN UP FOR SPOTIFY</div>
</div>


