.content-cols{
    text-align: center;
}
h1{
    font-size: 50px;
    font-family: sans-serif;
    margin:3% 2% 0.5%;
}
.img1{
    background: linear-gradient(-45deg, #6c0ee0 -5%, #f037a6);
    border-radius: 50%;
    width:40%;
}
.col-md-3{
    margin: 0;
    padding: 3%;
}
.text1{
    font-size: 150%;
    font-weight: bold;  
    margin-top: 3%; 
    color:rgb(102, 101, 101);
}
p{
    font-weight: lighter;
    margin: 2%;
    width: 100%;
    font-size: 70%;
    color: rgb(82, 80, 80);
    text-align: center;
    font-family: sans-serif;
}