body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.login{
    text-align: center;
    font-weight: bold;
}
img{
width: 25%;
align-items: center;
padding: 10px;
margin-top: 10px;
margin-bottom: 4%;
}
h5{
    font-weight: bold;
    font-size: 2rem;
    margin-top:1 5px;
    margin-bottom: 6%;
}
.facebook{
    background-color: rgb(14, 98, 255);
    margin: auto;
    font-size: 0.9rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    border-radius: 24px;
    width: 35%;
    font-weight: lighter;   
}
.facebook:hover{
    width: 36%;
}
.or hr{
    width: 70%;
    margin-bottom: 3%;
}
form{
    display: block;
    text-align: center;
}
label{
    font-size: 1.2em;
    width: 100%;
    padding-left: 15%;
    text-align: left;
}
input{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
input[type=checkbox]{
    width: 5%;
    margin-left: 2%;
    margin-bottom: 3%;
}
button{
    background-color: #10f05e;
    margin-left:2%;
    margin-top: 3%;
    padding:16px 70px 18px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    border: none;
    align-items: center;
    border-radius: 24px;
}
button:hover{
    background-color: #0f6d30;
} 
.signup{
    background-color: rgb(252, 249, 249);
    border: 2px solid black;
    padding:15px 12px;
    border-radius: 24px;
    width: 24%;
    margin: auto;
    margin-top: 30px;  
}

.signup:hover{
    background-color: rgb(112, 109, 109);
    color: white;
    border-color: rgb(112, 109, 109);
}
