<div class="login">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <img src="assets/logo1.png" alt="">
            <h5>Sign up for free to start listening.</h5>
            <div class="facebook">Sign up with Facebook</div> <br>
            <div class="or">
                <h3>OR</h3>
                <hr>
            </div>
            <form>
                <label for="email">What's your Email</label>
                <input type="email" name="email" placeholder="Enter your Email "><br>
                <label for="email"> Confirm your Email</label>
                <input type="email" name="email" placeholder="Confirm your Email"><br>
                <label for="password">Create a password</label>
                <input type="password" name="email" placeholder="Create a password"><br>
                <label for="text">What should we call you</label>
                <input type="text" name="password" placeholder="Enter your profile name"><br>
                <label for="date">What's your date of birth</label>
                <input type="date"><br>
                <input type="checkbox">Share my registration data with Spotify's content <br> providers for marketing purposes. <br>
                <a [routerLink]="['/download']"><button>Sign up</button></a>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>

</div>