.content2{
    background: linear-gradient(-45deg, #6c0ee0 -5%, #f037a6); 
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}