<div class="container-fluid s_cout s_sf_cout">
    <div class="row">
        <div class="col-md-2half">
            <aside>
                <img class="img" src="assets/logo.png" alt="">
                <div>
                    <img src="assets/home.svg" alt="">Home
                </div>

                <div>
                    <img src="assets/search.svg" alt="">Search
                </div>
                <div>
                    <img src="assets/line.svg" alt="">libabry
                </div>

                <div>
                    <img src="assets/create.svg" alt="">Create playlist
                </div>

                <div>
                    <img src="assets/heart1.svg" alt="">Liked Songs
                </div>
            </aside>
        </div>
        <div class="col-md-9half">
            <section class="sf_section">
                <div class="sf_section_1 bg-white shadow-sm">
                    <div class="sf_section_1_top">
                        <a href="#" class="btn lg ">UPDRAGE</a>
                        <a href="#" class="btn ">Khan Shamshad</a>
                        <div class="lut_gaye">
                            <img src="assets/2.jpg" alt="">
                            <h4>SINGAL</h4>
                            <h1>Lut Gaye</h1>
                            <h3>Jubin Nautiyal - Tanishk bagchi - Nusrat Fateh Ali Khan</h3>
                        </div>
                    </div>
                    <div class="sf_section_1_middle">
                        <img class="img-fluid" src="assets/play.svg" alt="">
                        <img class="img-fluid more" src="assets/heart2.svg" alt="">
                        <img class="img-fluid more" src="assets/more.svg" alt="">
                    </div>
                    <div class="sf_section_1_center">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="#" class="product">
                                    <div class="top">
                                        <img class="img-fluid prod_img" src="assets/1.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Bollywood Acoustic</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best Acoustic melodies from Bollywood
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="product">
                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/2.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Lut Gaye</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Jubin Nautiyal, Tanishk bagchi, Nusrat Fateh Ali Khan, Emraan
                                                        Hashmi
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <a href="#"><img class="img-fluid play" src="assets/play.svg"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="product">


                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/3.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Bollywood Mush</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best Bollywood love Songs
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/4.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Hot Hits india</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        The Hottest tracks in india
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/5.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Top Hits Hindi</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best of Hindi songs handpicked
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/6.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>New Music Hindi</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Latest Hindi songs from last 3 months
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row music">
        <div class="col-md-5">
           <img class="lut_gaye1" src="assets/2.jpg" alt=""><strong>Lut Gaye</strong>  (Jubin Nautiyal - Tanishk bagchi - Nusrat Fateh Ali Khan)
        </div>
        <div class="clo-md-2">
            <div class="player text-white">
                <audio controls>
                    <source src="assets/Lut Gaye.mp3" type="audio/mpeg">
                  </audio>
        </div>
        <div class="col-md-5">

        </div>
    </div>

</div>