<div class="container-fluid s_cout s_sf_cout">
    <div class="row">
        <div class="col-md-2half">
            <aside>
                <img class="img" src="assets/logo.png" alt="">
                <div>
                    <img src="assets/home.svg" alt="">Home
                </div>

                <div>
                    <img src="assets/search.svg" alt="">Search
                </div>
                <div>
                    <img src="assets/line.svg" alt="">libabry
                </div>

                <div>
                    <img src="assets/create.svg" alt="">Create playlist
                </div>

                <div>
                    <img src="assets/heart1.svg" alt="">Liked Songs
                </div>
            </aside>
        </div>
        <div class="col-md-9half">
            <section class="sf_section">
                <div class="sf_section_1 bg-white shadow-sm">
                    <div class="sf_section_1_top">
                        <a href="#" class="btn bg-secondary">Sign up</a>
                        <a href="#" class="btn bg-white">Log in</a>
                    </div>
                    <div class="sf_section_1_center">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="product">
                                    <div class="top">
                                        <img class="img-fluid prod_img" src="assets/1.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Bollywood Acoustic</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best Acoustic melodies from Bollywood
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">
                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/2.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Lut Gaye</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Jubin Nautiyal, Tanishk bagchi, Nusrat Fateh Ali Khan, Emraan Hashmi
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                      <a  [routerLink]="['/song']"><img class="img-fluid play" src="assets/play.svg" alt=""></a>  
                                                    </div>
                                                </div>
                                            </div> 
                                        </div> 
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">


                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/3.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Bollywood Mush</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best Bollywood love Songs
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/4.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Hot Hits india</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        The Hottest tracks in india
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/5.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Top Hits Hindi</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best of Hindi songs handpicked
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/6.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>New Music Hindi</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Latest Hindi songs from last 3 months
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/7.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Saiyaan</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Jass Manak
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/8.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Sira E Hou</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Amrit Maan, Nimrat Khaira
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/9.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Top Hits Marathi</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best of Marathi songs
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/10.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Bollywood Mush</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Best songs of love
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/11.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Ishq Namazaa</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Ankit Tiwari, Gourov Dasgupta
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/12.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Dark & Stormy</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Beautifully dark, dramatic tracks.
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/13.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Hold On</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Justin Bieber
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/14.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Aur Pyaar Karna Hai</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Neha Kakkar, Guru Randhawa, Sachet-Parampara
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/15.jpg">
                                    </div>
                                    <div class="bottom ">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-white">
                                                <strong>Aaye Haaye</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Millind Gaba, Aditi Singh Sharma, Vishal
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="product">

                                    <div class="top">
                                        <i class="fa fa-heart"></i>
                                        <img class="img-fluid prod_img" src="assets/16.jpg">
                                    </div>
                                    <div class="bottom">
                                        <div class="prod_desc_top">
                                            <div class="prod_title text-secondary">
                                                <strong>The Girl on the Train</strong>
                                            </div>
                                            <div class="prod_desc text-dark">
                                                <div class="row m-0">
                                                    <div class="col-md-8 p-0 prod_p">
                                                        Neha Kakkar, Vipin Patwa
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <img class="img-fluid play" src="assets/play.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>