<div class="Questions">
    <div class="faq">
        <h1>Got Questions?</h1>
        <div>
            <a href="#">How do I create a playlist?</a>
        </div>
        <div>
            <a href="#">How do I activate Data Saver mode?</a> 
        </div>
        <div>
            <a href="#">Is it only possible to shuffle play music?</a>
        </div>
        <div>
           <a href="#">Where can I find Podcasts?</a>
        </div>
    </div>
</div>
<div class="content4">
    Ready? Let’s play. <br>
    <button class="btn">GET SPOTIFY FREE</button>
</div>